@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #eef;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #21075A;
  --text-color: #eef;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}